/* 
CSS style sheet for the periodic table of elements 
*/

@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS selectors */

/* Element selector */

html {
  font-family: "Akaya Telivigala", Arial, sans-serif;
  background-color: azure;
  /* background-image: url(./element-2.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  /* font-family: "Akaya Telivigala"; */
  color: rgb(235, 235, 225);
  text-shadow: rgb(244, 248, 247);
  font-size: 4.2rem;
  margin: 2rem;
  padding: 2rem;
}
td {
  font-family: "Akaya Telivigala", Arial, sans-serif;
  width: 3vw;
  height: 3vw;
  border: 1px solid black;
  text-align: center;
  border-radius: 0.42vw;
}

/* pseudo class  */

/* :hover */
/* table:hover {
  background-color: rgb(30, 32, 34);
} */
a {
  color: rgb(136, 131, 177);
  text-shadow: rgb(244, 248, 247);
  font-size: 2.3rem;
}
/* :visited */
a:visited {
  color: green;
}
a:hover {
  color: rgb(23, 43, 14);
}
/* a:visited, a:hover{
    color: green;
} */
/* :focus */
td:hover {
  filter: grayscale(0%);
  transform: scale(2);
  cursor: pointer;
  opacity: 1;
  z-index: 1;
}

/* :nth-child() */
/* tr:nth-child(2n){
      background-color: grey;
  }
  tr:nth-child(3n){
    background-color: rgb(235, 121, 121);
} */
tr:nth-last-child(1) {
  background-color: forestgreen;
}
/* tr:nth-child(n) td:nth-child(2) {
  background-color: gold;
} */
tr:nth-child(n + 1) :first-child {
  background-color: chocolate;
}
tr:nth-child(1) :nth-child(n + 3):nth-child(-n + 5) {
  background-color: crimson;
}
/* .class selector */
.no-filling {
  columns: none;
  border: none;
}
